case 1:

v = effect("NNum")("Valor").value.toFixed();
var num =  effect("NNum")("Valor").value.toFixed()*effect("NNum")("Multiplicador");
num = Comma(num);
var x = effect("NNum")("Decimais").value;
Dec = effect("NNum")("Ativar Decimais");
Limp = effect("NNum")("Limpar texto");
Edit = effect("NNum")("Editar Nome");
h = effect("NNum")("Pontos e Vírgulas").value;
QtdDec = effect("NNum")("Quantidade de decimais");
n = thisLayer.name = text.sourceText;

function Comma(number)

{
number = '' + Math.round(number);

if (number.length > 3)
{
var mod = number.length % 3;
var output = (mod > 0 ? (number.substring(0,mod)) : '');
for (i=0 ; i < Math.floor(number.length / 3); i++)
{
if ((mod == 0) && (i == 0))
output += number.substring(mod+ 3 * i, mod + 3 * i + 3);
else
output+= '.' + number.substring(mod + 3 * i, mod + 3 * i + 3);
}
return (output);
}
else return number;
}

	if (Dec==1)
[n+num+","+("0"+x).slice(-QtdDec)]
	else [n+num]
		
if (Dec==1&&h==2)
[n+num+"."+("0"+x).slice(-QtdDec)]

	
	if (Limp==1)
		[num]
	if (Edit==1&&Limp==0)
		[num+n]
	if (Edit==1&&Dec==1)
		[num+","+("0"+x).slice(-QtdDec)+n]
	
if (Edit==1&&Dec==1&&h==2)
		[num+"."+("0"+x).slice(-QtdDec)+n]
	if  (Dec==1&&Limp==1)
		[num+","+("0"+x).slice(-QtdDec)]
if  (Dec==1&&Limp==1&&h==2)
		[num+"."+("0"+x).slice(-QtdDec)]
	if (h==5)
v

	break;

